h1 {
    margin: 25px auto;
    text-align: right;
}

sup {
    font-size: 11px;
    top: -2.0em;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.edit.btn.btn-primary {
    float: left;
    margin-right: 10px;
}

#actions {
    width: 135px;
    margin-left: 10px;
}